<html lang="en">

<head>

    <!--
    <div class="topnav">
        <a><%= link_to t(".sign_out"), sign_out_path, :method => :delete %></a>
        <a><%= link_to t(".Home"), sign_in_path, :method => :get %></a>
        <a><%= link_to t(".Search"), users_search_path(:query), :method => :get %></a>
    </div>
    -->

    <style>
        .navbar-custom {
            background-color: #500000;
            color: #fffca1;
        }
    </style>

    <title>HomePage</title>
    <!--
    
    <style>
        a.button {
            -webkit - appearance: button;
            - moz - appearance: button;
            appearance: button;

            text - decoration: none;
            color: initial;
        }
    </style>
    -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



</head>

<!-- The navigation bar -->
<nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
    <a class="navbar-brand" href="#">SEC Center</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item invisible">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <!-- <a class="nav-link" href="users/edit">Profile</a> -->
                <%= link_to t(".Profile"), sign_in_path, :method => :get, class: "nav-link" %>
            </li>
            <li class="nav-item">
                <%= link_to t(".Search"), users_search_path(:query), :method => :get, class: "nav-link" %>
                <!-- <a class="nav-link" href="users/search/query">Search Members</a> -->
            </li>
            <li class="nav-item">
                <a class="nav-link invisible" href="#">About</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><%= link_to t(".sign_out"), sign_out_path, :method => :delete, class: "navbar-custom" %></li>
        </ul>
    </div>
</nav>

<%= form_with model: current_user, url: "/users/#{current_user.id}", method: :patch do |f| %>
<div class="container" style="width: 40vw">
    <label for="fname">First Name:</label><br />
    <%= f.text_field :first_name, class: "form-group form-control"  %> <br />
    <label for="lname">Last Name:</label><br />
    <%= f.text_field :last_name, class: "form-group form-control"  %> <br />
    <label for="email">Email:</label><br />
    <%= f.text_field :email, class: "form-group form-control"  %> <br />
    <label for="email">Alternative Email:</label><br />
    <%= f.text_field :alternative_email, class: "form-group form-control"  %> <br />
    <label for="phone">Phone Number:</label><br />
    <%= f.text_field :phone_number, class: "form-group form-control"  %> <br />
    <label for="phone">Home Phone Number:</label><br />
    <%= f.text_field :home_phone_number, class: "form-group form-control"  %> <br />
    <label for="phone">Work Phone Number:</label><br />
    <%= f.text_field :work_phone_number, class: "form-group form-control"  %> <br />
    <label for="company">Current Company:</label><br />
    <%= f.text_field :company, class: "form-group form-control"  %> <br />
    <label for="occupation">Role:</label><br />
    <%= f.text_field :role, class: "form-group form-control"  %> <br />
    <label for="major">Major:</label><br />
    <%= f.select :major, ['Major...', 'Aero Engr','Biol & Agric Engr', 'Biomed Engr', 'Chem Engr', 'Civ & Env Engr', 'Comp Sci & Engr', 'Elec & Comp Engr', 'Eng Tech & Indus Dist Engr', 'Indus & Syst Engr', 'Mat Sci & Engr', 'Mech Engr', 'Multi Dis Engr', 'Nuc Engr', 'Ocean Engr', 'Petro Engr']%> <br /><br /><br />
    <label for="grad_year">Graduation Year:</label><br />
    <%= f.number_field :grad_year, class: "form-group form-control", min: 1900, max: 2500  %><br />
    <%= f.check_box :is_alumni, :class => 'checkbox1' %>
    <label for="is_alumni"> I am an Alumni </label><br />
    <%= f.check_box :is_visible , :class => 'checkbox1'%>
    <label for="is_visible"> Hide my profile </label><br><br>
    <%= f.submit 'Save Changes' , :class => 'btn btn-secondary'%>
</div>
<% end %>

<%= form_with model: current_user, url: "/users/#{current_user.id}", method: :patch do |f| %>
<div class="dropdown-menu">
    <form class="px-4 py-3">
        <div class="form-group">
            <label for="exampleDropdownFormEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
        </div>
        <div class="form-group">
            <label for="exampleDropdownFormPassword1">Password</label>
            <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
        </div>
        <div class="form-check">
            <input type="checkbox" class="form-check-input" id="dropdownCheck">
            <label class="form-check-label" for="dropdownCheck">
                Remember me
            </label>
        </div>
        <button type="submit" class="btn btn-primary">Sign in</button>
    </form>
    <div class="dropdown-divider"></div>
    <a class="dropdown-item" href="#">New around here? Sign up</a>
    <a class="dropdown-item" href="#">Forgot password?</a>
</div>
<% end %>

</html>