<h1>Book edit</h1>

<%= form_for @book do |f|%>
	<%= f.label :title %>
	<%= f.text_field :title %>
	<%= f.label :author%>
	<%= f.text_field :author %>
	<%= f.label :genre%>
	<%= f.select :genre, ['Action', 'Adventure', 'Fantasy', 'Horror', 'Comedy', 'Children', 'Romance', 'Historical'] %>
	<%= f.label :price%>
	<%= f.number_field :price %>

	<%= f.submit%>

<br>

<li> <%= link_to "Return to Home Page", books_path %></li>

<%end%>


