<h1><%= @book.title %></h1>

<h2>Author: <%= @book.author%> </h2>

<h2>Genre: <%= @book.genre%> </h2>

<h2>Price: <%= @book.price%> </h2>

<h2>Published-date: <%= @book.published%> </h2>

<li> <%= link_to "Return to Home Page", books_path %></li>
