<%= form_for :session, url: session_path do |form| %>

<% flash.each do |type, msg| %>
	<div>
		<%= msg %>
		<br />
    </div>
<% end %>

<div>
    <%= form.label :email %> <br />
    <%= form.text_field :email, type: 'email', class: "form-group form-control" %>
</div>

<div>
    <%= form.label :password %> <br />
    <%= form.password_field :password, class: "form-group form-control" %>
</div>

<div>
    <%= form.submit %>
</div>

<div class="other-links">
    <% if Clearance.configuration.allow_sign_up? %> </br>
    <%= link_to t(".sign_up"), sign_up_path %> </br>
	<%= link_to "Forgot password?", new_password_reset_path %>
    <% end %>
</div>
<% end %>